/* ==========================================================================
   variables
========================================================================== */

// color
$col-main: #000;
$col-black: #000;
$col-white: #fff;


// font
$font-pc: "Helvetica Neue",arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",meiryo,sans-serif;
